
# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/

# Logs
*.log
